{% extends 'base.html.twig' %}

{% block title %}Races index{% endblock %}

{% block body %}
    <h1>Races index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Date</th>
                <th>Track</th>
                <th>Time</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for race in races %}
            <tr>
                <td>{{ race.id }}</td>
                <td>{{ race.date ? race.date|date('Y-m-d') : '' }}</td>
                <td>{{ race.track }}</td>
                <td>{{ race.time ? race.time|date('H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('races_show', {'id': race.id}) }}">show</a>
                    <a href="{{ path('races_edit', {'id': race.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('races_new') }}">Create new</a>
{% endblock %}
