<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>KartingD15 - {% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
        <style>
            body
            {
                background-color: black;
            }
            H1
            {
                color: yellow;
            }
            p
            {
                color: white;
            }
            label
            {
                color: white;
            }
            a
            {
                color: rebeccapurple;
            }

            ul {
                list-style-type: none;
                margin: 0;
                padding: 0;
                overflow: hidden;
                background-color: #333;
            }

            li {
                float: left;
            }

            li a {
                display: block;
                color: white;
                text-align: center;
                padding: 14px 16px;
                text-decoration: none;
            }

            /* Change the link color to #111 (black) on hover */
            li a:hover {
                background-color: #111;
            }

            table
            {
                color: white;
                background-color: #333;
            }
            .alert-danger
            {
                color: red;
            }

            table#results_table th
            {
                background-color: #333;
            }
            table#results_table tr:nth-child(1)
            {
                background-color: #af9500;
            }

            table#results_table tr:nth-child(2)
            {
                background-color: #B4B4B4;
            }

            table#results_table tr:nth-child(3)
            {
                background-color: #6A3805;
            }
        </style>
        {% endblock %}
    </head>
    <body>
    {% if is_granted('ROLE_ADMIN') %}
        <nav>
            <ul>
                <li>
                    <a href="{{ url('home') }}">
                        Home
                    </a>
                </li>
                <li>
                    <a href="{{ url('login') }}">
                        Login
                    </a>
                </li>
                <li>
                    <a href="{{ url('laptime') }}">
                        Laptimes
                    </a>
                </li>
                <li>
                    <a href="{{ url('laptimes_index') }}">
                        Staff Area
                    </a>
                </li>
                <li>
                    <a href="{{ url('user_index') }}">
                        Admin Area
                    </a>
                </li>
                <li>
                    <a href="{{ url('logout') }}">
                        Logout
                    </a>
                </li>
            </ul>
        </nav>
    {% elseif is_granted('ROLE_STAFF') %}
        <nav>
            <ul>
                <li>
                    <a href="{{ url('home') }}">
                        Home
                    </a>
                </li>
                <li>
                    <a href="{{ url('login') }}">
                        Login
                    </a>
                </li>
                <li>
                    <a href="{{ url('laptime') }}">
                        Laptimes
                    </a>
                </li>
                <li>
                    <a href="{{ url('laptimes_index') }}">
                        Staff Area
                    </a>
                <li>
                    <a href="{{ url('logout') }}">
                        Logout
                    </a>
                </li>
            </ul>
        </nav>
    {% elseif is_granted('ROLE_USER') %}
        <nav>
            <ul>
                <li>
                    <a href="{{ url('home') }}">
                        Home
                    </a>
                </li>
                <li>
                    <a href="{{ url('login') }}">
                        Login
                    </a>
                </li>
                <li>
                    <a href="{{ url('laptime') }}">
                        Laptimes
                    </a>
                </li>
                <li>
                    <a href="{{ url('logout') }}">
                        Logout
                    </a>
                </li>
            </ul>
        </nav>
    {% else %}
        <nav>
            <ul>
                <li>
                    <a href="{{ url('home') }}">
                        Home
                    </a>
                </li>
                <li>
                    <a href="{{ url('login') }}">
                        Login
                    </a>
                </li>
                <li>
                    <a href="{{ url('laptime') }}">
                        Laptimes
                    </a>
                </li>
            </ul>
        </nav>
    {% endif %}
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
